body {
  min-height: 100vh;
  background-color: #202632;
}

.container {
  background-color: #202632;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-position: bottom;
  background-size: contain;
  min-height: 500px;
  padding: 100px 0;
  width: 100%;
  height: 100%;
}

.line {
  background-image: url(Line.png);
  background-position: center;
  color: beige;
}

button {
  background: #53FFAB;
  background-image: url(favicon.png);
  background-position: center;
  background-size: calc(45%);
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 65px;
  margin-top: -50px;
  border-radius: 50%;
}

.voice {
  background-color: #313A49;
  width: 440px;
  height: 235px;
  left: 450px;
  top: 222px;
  padding: 30px;
  font-size: 18px;
  border-radius: 20px;
  margin: 20px 0;
}
