h1 {color: blue;
font-size: 60;
}
#verde {color: brown;}
table{
    margin: 40px auto;
    text-align: center;
}
table, th, td {
   
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}
th {
    background-color: grey;
}

th, td {
    padding: 8px;
}
tr:hover {
    /* color: orange; */
    background-color: violet;
}
body{
    background-image: url("rucsac.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}